<% provide :title, t("app.views.home.title") %>

<!-- home section starts  -->

<section class="home" id="home">
  <div class="image">
      <img src="assets/home-img.png" alt="">
  </div>

  <div class="content">
      <span><%= t("app.views.home.span") %></span>
      <h3><%= t("app.views.home.content") %></h3>
      <a href="#" class="btn"><%= t("app.views.home.started") %></a>
  </div>
</section>

<!-- banner section starts  -->

<section class="banner-container">
  <div class="banner">
      <img src="assets/banner-1.jpg" alt="">
      <div class="content">
        <h3><%= t("app.views.home.offer") %></h3>
        <p><%= t("app.views.home.upto45") %></p>
        <a href="#" class="btn"><%= t("app.views.home.check_out") %></a>
      </div>
  </div>

  <div class="banner">
      <img src="assets/banner-2.jpg" alt="">
      <div class="content">
        <h3><%= t("app.views.home.limited") %></h3>
        <p><%= t("app.views.home.upto50") %></p>
        <a href="#" class="btn"><%= t("app.views.home.check_out") %></a>
      </div>
  </div>
</section>

<!-- category section starts  -->

<section class="category" id="category">
  <h1 class="heading"><%= t("app.views.home.shop") %> <span><%= t("app.views.home.categories") %></span></h1>
  <div class="box-container">
    <div class="box">
      <h3><%= t("app.views.home.vegitables") %></h3>
      <img src="assets/category-1.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t("app.views.home.juice") %></h3>
      <img src="assets/category-2.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t("app.views.home.meat") %></h3>
      <img src="assets/category-3.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
    <div class="box">
      <h3><%= t("app.views.home.fruite") %></h3>
      <img src="assets/category-4.png" alt="">
      <a href="#" class="btn"><%= t("app.views.home.shop_now") %></a>
    </div>
  </div>
</section>

<!-- product section starts  -->

<section class="product" id="product">
  <h1 class="heading"><%= t("app.views.home.latest") %> <span><%= t("app.views.home.product") %></span></h1>
  <ul class="box-container">
    <li class="box">
        <img src="assets/product-2.png" alt="">
        <h3><%= t("app.views.home.tomato") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %></div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <a href="#" class="fas fa-shopping-cart icon_cart"></a>          
        </div>
        <a href="#" class="btn"><%= t("app.views.home.see_details") %></a>
      </li>
      <li class="box">
        <img src="assets/product-2.png" alt="">
        <h3><%= t("app.views.home.tomato") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %></div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <a href="#" class="fas fa-shopping-cart icon_cart"></a>          
        </div>
        <a href="#" class="btn"><%= t("app.views.home.see_details") %></a>
      </li>
      <li class="box">
        <img src="assets/product-2.png" alt="">
        <h3><%= t("app.views.home.tomato") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %></div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <a href="#" class="fas fa-shopping-cart icon_cart"></a>          
        </div>
        <a href="#" class="btn"><%= t("app.views.home.see_details") %></a>
      </li>
      <li class="box">
        <img src="assets/product-2.png" alt="">
        <h3><%= t("app.views.home.tomato") %></h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price"> <%= t("app.views.home.money10") %></div>
        <div class="quantity">
          <span><%= t("app.views.home.quantity") %> </span>
          <input type="number" min="1" max="1000" value="1">
          <a href="#" class="fas fa-shopping-cart icon_cart"></a>          
        </div>
        <a href="#" class="btn"><%= t("app.views.home.see_details") %></a>
      </li>      
    </ul>
  </div>
</section>

<!-- contact section starts  -->

<section class="contact" id="contact">
  <h1 class="heading"> <span><%= t("app.views.home.contact") %></span> <%= t("app.views.home.us") %> </h1>
  <form action="#">
    <div class="inputBox">
      <input type="text" placeholder="<%= t("app.views.home.name") %>">
      <input type="email" placeholder="<%= t("app.views.home.email") %>">
    </div>
    <div class="inputBox">
      <input type="number" placeholder="<%= t("app.views.home.number") %>">
      <input type="text" placeholder="<%= t("app.views.home.subject") %>">
    </div>
    <textarea placeholder="<%= t("app.views.home.message") %>" name="" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="<%= t("app.views.home.send_message") %>" class="btn">
  </form>
</section>
